@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oops {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 15vw; /* 15% of the viewport width */
}

.message {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
}