@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* buttons */
.btn-outline-primary {
    border-color: #e94f71 !important;
    color: #e94f71 !important;
}

.btn-outline-primary:hover {
    background-color: #e94f71 !important;
    color: white !important;
}

/* animations */
@keyframes fadeInOut {
    0%   {opacity: 0;}
    10%  {opacity: 0.5;}
    35%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    10%  {opacity: 0.5;}
    35%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 1;}
}

/* welcome.html */
.fade-in-welcome {
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 1s;
    animation-duration: 4s;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 4vw;
}

/* main.html */
.fade-in-text {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}

.directions {
    text-align: center;
    font-size: 2vw;
}

.length {
    font-size: 1.2vw;
    margin: 0;
    padding: 1px;
}

.requires {
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}

.form-check-label {
    font-size: 1vw;
    cursor: pointer;
}

.text-center {
    padding-top: 10px;
}

input[type=text] {
    border: 1px solid #e94f71;
    outline: none;
}

input[type=text]:focus {
    border: 1.5px solid #e94f71;
}

/* checkboxes */
.form-check-input {
    border-color: #e94f71 !important;
    cursor: pointer;
}

.form-check input:checked {
    background-color: #e94f71 !important;
}

/* error.html */
.error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oops {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 15vw; /* 15% of the viewport width */
}

.message {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
}

/* result.html */
.password {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
}